<h3>Viewing all listings</h3>

<%= signed_in? ? (link_to "Add a new listing!", "/listings/new") : (link_to "Sign in to add a listing!", "/sign_in") %>

<% @listings.each do |listing| %>

  <div class="listing-container">
    <p><strong><%= listing.title %></strong></p>
    <p><%= listing.description %></p>
  </div>

<% end %>

