<div class="column is-three-fifths buffer">
  <% @listings.each do |listing| %>
    <%= render "/listings/detail", listing: listing %>
  <% end %>
</div>

<div class="column is-two-fifths buffer" id="map"></div>

