<div class="column is-two-thirds">
  <div id="listings-container">
    <% @listings.each do |listing| %>
      <%= render "/listings/detail", listing: listing %>
    <% end %>
  </div>
</div>

<div class="column is-two-fifths buffer" id="map"></div>

 <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_KEY']%>&callback=initMap"
  type="text/javascript"></script>