<h3>Viewing all listings</h3>
<% @listings.each do |listing| %>
  
  <div class="listing-container">
    <p><strong><%= listing.title %></strong></p>
    <p><%= listing.description %></p>
  </div>

<% end %>
