<!--<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false">-->
<!--</div>-->

<div>
  <h2 class="landing-header">Explore Airbnb</h2>
  <br>

<div class="landing-tiles-container">
    <div class="columns tiles-container">
      
      <div class="column">
        <div class="listing-tiles">
          <img src="https://a0.muscache.com/im/pictures/cb8b3101-d419-4c17-8e2f-4989b39b98c3.jpg?aki_policy=large" style="width: 40%; display: inline-block"></img>
          <div>
            <strong>Homes</strong>
          </div>
        </div>
      </div>
      
      <div class="column">
        <div class="listing-tiles">
          <img src="https://a0.muscache.com/im/pictures/cb8b3101-d419-4c17-8e2f-4989b39b98c3.jpg?aki_policy=large" style="width: 40%; display: inline-block"></img>
          <div>
            <strong>Experiences</strong>
          </div>
        </div>
      </div>    
      
      <div class="column">
        <div class="listing-tiles">
          <img src="https://a0.muscache.com/im/pictures/da2d8e97-90b7-409f-94ac-5ab0327c289b.jpg?aki_policy=large" style="width: 40%; display: inline-block"></img>
          <div>
            <strong>Restaurants</strong>
          </div>
        </div>
      </div>
    
    </div>
</div>

<div>
  <%= link_to "Take me to the listings!", "/listings" %>
</div>